
    <nav>
        <li><a href='/produtos/form'>Cadastrar Livro</a></li>
        <li><a href='/produtos'>Listagem de Livros</a></li>
        <li><a href='/'>home</a></li>
        <li><a href='/promocoes/form'>cadastrar promocoes</a></li>
    </nav>
